{% extends "base.html" %}
{% load static %}
{% block meta %}	
<title>Ben Busath - Home</title>
{% endblock %}
{% block page_content %}
	<div class="main-wrapper">
		
		<section class="about-me-section p-3 p-lg-5 theme-bg-light">
			<div class="container">
				<div class="profile-teaser media flex-column flex-lg-row">
					
					<div class="media-body">
						<h2 class="name font-weight-bold mb-1">Ben Busath</h2>
						<div class="tagline mb-3">Data Scientist</div>
						<div class="bio mb-4">I'm an Applied Math student at BYU who has a passion for coding and using math to solve meaningful problems. Want to know more about my skillset? Check out my project <a class="link-on-bg" href="projects.html">portfolio</a> and <a class="link-on-bg" href="resume.html">online resume</a>.
						</div><!--//bio-->
						<div class="mb-4">
							<a class="btn btn-primary mr-2 mb-3" href="portfolio.html"><i class="fas fa-arrow-alt-circle-right mr-2"></i><span class="d-none d-md-inline">View</span> Portfolio</a>
							<a class="btn btn-secondary mb-3" href="resume.html"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
						</div>
					</div><!--//media-body-->
					<img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="{% static 'images/profile-lg3.jpg' %}" alt="">
				</div>
			</div>
		</section><!--//about-me-section-->
		
		<section class="overview-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-3">What I do</h2>
				<div class="section-intro mb-5">I have experience developing data-based solutions for a diverse range of domains. Below is a quick overview of my main technical skill sets and technologies I use. Want to find out more about my experience? Check out my <a href="{% static 'Resume.pdf' %}">online resume</a> and <a href="{% url 'portfolio' %}">project portfolio</a>.</div>
				<div class="row">
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-python"></i></div>
							<h3 class="item-title">Python</h3>
							<div class="item-desc"> I have advanced experience with vanilla Python as well as several popular packages including Pandas, NumPy, Sci-Kit Learn and many more. </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fa fa-database" style="color:mediumslateblue"></i></div>
							<h3 class="item-title">SQL</h3>
							<div class="item-desc">I have built and utilized relational SQL databases for the deployment of large scale machine learning projects. This includes building schema and optimizing queries within popular database systems such as Microsoft SQL Server and SQLite.</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fa fa-brain" style="color:goldenrod"></i></div>
							<h3 class="item-title">Deep Learning</h3>
							<div class="item-desc">Experienced with GAN's, LTSM's, DNN's, CNN's, embeddings, reinforcement learning, and working within the PyTorch library.</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
								<div class="item-icon"><i class="fa fa-window-maximize" style="color:firebrick"></i></div>
							<h3 class="item-title">Web Development</h3>
							<div class="item-desc">Experience with CSS, HTML, and Django Framework</div>
						</div><!--//item-inner-->
					</div><!--//item-->
				</div><!--//row-->
				<div class="row">
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fa fa-plus" style="color:green"></i></div>
							<h3 class="item-title">Applied Math</h3>
							<div class="item-desc">As a product of the acclaimed <a href="https://acme.byu.edu/">BYU ACME</a> program, I have developed a rigorous mathematical foundation that includes extensive knowledge of analysis, algorithms, probability, approximation theory, and optimization. </div>
						</div><!--//item-inner-->
					</div><!--//item-->
				</div><!--//row-->
			</div><!--//container-->
		</section>
				
		<div class="container"><hr></div>
		<section class="featured-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
				<div class="row">
					{% for project in projects %}
					<div class="col-md-6 mb-5">
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="{{ project.image.url }}" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="{% url 'project' project.pk %}" class="theme-link">{{ project.title }}</a></h5>
										<p class="card-text">{{ project.description }}</p>
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="{% url 'project' project.pk %}"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="{% url 'project' project.pk %}">
										<i class="fas fa-eye mr-2"></i>View Case Study
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
				{% endfor %}
				</div><!--//row-->
				<div class="text-center py-3"><a href="portfolio.html" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Portfolio</a></div>
				
			</div><!--//container-->
		</section><!--//featured-section-->
		
		<div class="container"><hr></div>
		
		<section class="latest-blog-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-5">Latest Blog Posts</h2>
				<div class="row">
					<div class="col-md-4 mb-5">
						<div class="card blog-post-card">
							<img class="card-img-top" src="{% static 'images/blog/blog-post-thumb-card-1.jpg' %}" alt="image">
							<div class="card-body">
								<h5 class="card-title"><a class="theme-link" href="blog-post.html">Top 3 JavaScript Frameworks</a></h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
								<p class="mb-0"><a class="more-link" href="blog-post.html">Read more &rarr;</a></p>
								
							</div>
							<div class="card-footer">
								<small class="text-muted">Published 2 days ago</small>
							</div>
						</div><!--//card-->
					</div><!--//col-->
					<div class="col-md-4 mb-5">
						<div class="card blog-post-card">
							<img class="card-img-top" src="{% static 'images/blog/blog-post-thumb-card-2.jpg' %}" alt="image">
							<div class="card-body">
								<h5 class="card-title"><a class="theme-link" href="blog-post.html">About Remote Working</a></h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
								<p class="mb-0"><a class="more-link" href="blog-post.html">Read more &rarr;</a></p>
							</div>
							<div class="card-footer">
								<small class="text-muted">Published a week ago</small>
								
							</div>
						</div><!--//card-->
					</div><!--//col-->
					<div class="col-md-4 mb-5">
						<div class="card blog-post-card">
							<img class="card-img-top" src="{% static 'images/blog/blog-post-thumb-card-3.jpg' %}" alt="image">
							<div class="card-body">
								<h5 class="card-title"><a class="theme-link" href="blog-post.html">A Guide to Becoming a Full-Stack Developer</a></h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
								<p class="mb-0"><a class="more-link" href="blog-post.html">Read more &rarr;</a></p>
							</div>
							<div class="card-footer">
								<small class="text-muted">Published 3 weeks ago</small>
							</div>
						</div><!--//card-->
					</div><!--//col-->
				</div><!--//row-->
				<div class="text-center py-3"><a href="blog-home.html" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Blog</a></div>
			</div><!--//container-->
		</section><!--//latest-blog-section-->
	</div><!--//main-wrapper-->

<!-- Dark Mode -->
		
	<script src="{% static 'plugins/tiny-slider/min/tiny-slider.js' %}"></script>
	<script src="{% static 'js/testimonials.js' %}"></script>
	
	<script src="{% static '/plugins/js-cookie.min.js' %}"></script>
	<script src="{% static '/js/dark-mode.js' %}"></script>
{% endblock %}


