{% extends "base.html" %}
{% load static %}

<body>
    {% block page_content %} 
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center single-col-max-width">
			    <h2 class="heading">Portfolio</h2>
			    <div class="intro">
			    <p>Welcome to my online portfolio. I have been blessed with several oppurtunities to work interesting and meaningful technical projects. Click on one of my projects below to learn more!</p>
			    </div> 
			    
		    </div><!--//container-->
	    </section>
	    <section class="projects-list px-3 py-5 p-md-5">
		    <div class="container">
			    <div class="text-center">
				    <ul id="filters" class="filters mb-5 mx-auto pl-0">
		                <li class="type  mb-3 mb-lg-0" data-filter="*">All</li>
						{% for category in categories %}
						{% with key="."|add:category.key%}
		                <li class="type  mb-3 mb-lg-0" data-filter="{{key}}">{{ category.title}}</li>
						{% endwith %}
						{% endfor %}
		            </ul><!--//filters-->
			    </div>
	            
			    <div class="project-cards row isotope">
				{% for project in projects %}
					{% with project.categories.all|join:" " as categories %}
					{% with "isotope-item col-md-6 mb-5 "|add:categories as project_class%}
					<div class="{{ project_class }}">
					{% endwith %}
					{% endwith %}
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="{{ project.image.url }}" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="{% url 'project' project.pk %}" class="theme-link">{{ project.title }}</a></h5>
										<p class="card-text">{{ project.description }}</p>
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="{% url 'project' project.pk %}"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="{% url 'project' project.pk %}">
										<i class="fas fa-eye mr-2"></i>View Case Study
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
				{% endfor %}
				</div><!--//row-->
		    </div>
	    </section>
    </div><!--//main-wrapper-->
    
    <!--Page Specific JS -->
    <script type="text/javascript" src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js' %}"></script> 
    
    <script type="text/javascript" src="{% static 'js/isotope-custom.js' %}"></script>
    

{%endblock%}