{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% block meta %}
<title>{{ "Ben Busath "|add:project.title }}</title>
{% endblock %}
{% block page_content %}
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container single-col-max-width">
			    <h2 class="heading text-center">{{"Case Study: "|add:project.title}}</h2>
			    <div class="project-intro text-center">
					<p class="mb-0 lead">{{ project.description }}</p>
				</div>
			    
		    </div><!--//container-->
	    </section>
	    <section class="project px-3 py-5 p-md-5">
		    <div class="container">
			    <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
				    <img class="project-thumb mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" src="assets/images/project/project-3.jpg" alt="">
					<div class="media-body">
					    <div class="client-info">
						    <h3 class="client-name font-weight-bold mb-4">{{ project.client }}</h3>
						    <ul class="client-meta list-unstyled">
							    <li class="mb-2"><i class="fas fa-industry fa-fw mr-2"></i><strong>Domain:</strong> {{ project.domain }}</li>
							    <li class="mb-2"><i class="fas fa-users fa-fw mr-2"></i><strong>Size:</strong> 100+</li>
							    <li class="mb-2"><strong><i class="fas fa-link fa-fw mr-2"></i>Website:</strong> <a class="{{ project.url }}" href="#">{{project.title}}</a></li>
							    
						    </ul>
						    <div class="client-bio mb-4">{{ project.requirements }}</div>
						    <h4 class="subheading mb-3">Project Requirements</h4>
						    <ul class="mb-0">
							    <li class="mb-2">Requirement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
							    <li class="mb-2">Requirement donec pede justo, fringilla vel, aliquet nec.</li>
							    <li class="mb-2">Requirement phasellus ullamcorper ipsum rutrum nunc. </li>
						    </ul>
					    </div>					
					</div><!--//media-body-->
				</div><!--//project-meta-->
				<div class="project-sections py-5">
					{{ project.detail|markdown:"trusted"}}
					</div>
		    </div>
	    </section>
	    
	    <section class="promo-section theme-bg-light py-5 text-center">
		    <div class="container single-col-max-width">
			    <h2 class="title">Want me to help with your project?</h2>
			    <p>If you take on freelance work, you can use this section to prompt any potential clients to get in touch with you with their project requirements.</p>
                <div class="text-center"><a class="btn btn-primary" href="contact.html" target="_blank"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a></div>
		    </div><!--//container-->
	    </section><!--//promo-section-->
    </div><!--//main-wrapper-->
{% endblock %}

